.search_btn {
    margin-left: 20px;
}

.search_btn input {
    border: none;
    outline: none;
    height: 22px;
    width: 43px;
    padding: 0 2px;
    position: absolute;
    color: white;
    background-color: #255056;
    font-size: 8px;
}

.search_btn {
    height: 22px;
    position: relative;
}

.search_btn_left {
    height: 22px;
    position: relative;
    left: 5px;
    top: 0;
    width: 7px;
}

.search_btn_right {
    height: 22px;
    width: 7px;
    top: 0;
    left: 41.5px;
    position: relative;
}

.menu ul {
    list-style: none;
    padding-left: 20px;
}


/* .menu ul li {
    float: left;
} */

.menu ul li a {
    text-decoration: none;
    line-height: 35px;
    font-family: sans-serif;
    font-weight: 500;
    color: #3c3c3c;
    display: block;
    padding: 0 10px;
    font-size: 14px;
}

.menu ul li:hover a {
    color: #fff;
    background: #2fc1d9;
}

.menu .active {
    background: #2fc1d9;
}

.menu .active a {
    color: #fff;
}

.menu ul li a {
    color: #3c3c3c;
}

.notification {
    line-height: 30px;
    width: 32.98294243070362%;
}

.notification a {
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
}

.invite_box {
    background: url("../images/boxes_invite_active.png") 0 50% no-repeat;
}

.invite_box.active {
    background: url("../images/friend_req_inactive.png") 0 50% no-repeat;
}

.friend_box {
    background: url("../images/friend_req_inactive.png") 0 50% no-repeat;
}

.friend_box.active {
    background: url("../images/friend_req_inactive.png") 0 50% no-repeat;
}

.invite_box a {
    color: #353535;
    font-weight: bold;
    padding-left: 18px;
}

.friend_box a {
    color: #959595;
    padding-left: 25px;
}

.invite_box.active a {
    color: #3d3d3d;
}

.friend_box.active a {
    color: #3d3d3d;
}

.footer_left ul li>img {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2px;
}